/* Pagina principal */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

h1 {
    text-align: center;
    margin-top: 100px;
}

h2,p {
    color: white;
}
/* NAVAGAÇAO */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background:#1b0392
}

.menu {
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* Tipos */

.tipos {
    background: #1c6ea4;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    padding: 16px;

}

.tipos > div {
    margin: 8px;
    flex: 1 1 200px;
    border: solid 6px black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tipos img {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 200px;
    width: 250px;
}

.tipos p {
    padding: 8PX;
    display: flex;
    align-items: flex-start;
}

/* Porque */

.porque {
    flex-wrap: wrap;
    background: #1c6ea4;
    flex-direction: column;
}

.porque > div {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.porque > span {
    justify-content: center;
}


/* Flex box*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

}

.flex > div {
    flex: 1 1 800px;
    margin: 10px;
}

.cliente02 > img {
    height: 300px;
    width: 300px;
    padding: 16px;
}

/* Projeto 1 */

.projeto01{
    max-width: 100%;
    display: block;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
}

.projeto01 > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 8px;
    text-shadow: 1px 2px 7px 1px #1c6ea4;
}

.projeto01 > img {
    border: solid rgb(255, 255, 255);
    width: 330px;
    height: 330px;
    max-width: 100%;
    border-radius: 8px;
    margin: 16px;
}

/* Projeto4 */

.projeto04 {
    max-width: 100%;
    display: block;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    background-color: rgb(242, 134, 40);
}
 
/* DUVIDAS */

.duvidas {
    align-items: center;
    text-align: center;
    padding: 8px;
}

.duvidas > div > span {
    padding: 8px;
    border: 8px;
}
