/* Pagina principal */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
}
/* NAVAGAÇAO */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background: black;
}

.menu {
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* Flex box*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

.projeto01{
    max-width: 100%;
    display: block;
}
/* Contador EM JavaScript */

.projeto03 {
    background-color: rgb(213, 3, 133);
    border-radius: 20px;
    text-decoration: none;
}

.projeto03 > img > h1 {
    max-width: 100%;
    display: block;
    text-align: center;
}

#votos {
    font-weight: bolder;
    font-size: 25px;
    padding: 15px;
    align-items: center;
}

#downVote {
    background-color: red;
}

#upVote {
    background-color: green; 
}

em {
    font-size: 15px;
}

button {
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    align-items: center;
}